* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body {
    background-color: #2F2F33;
    font-size: 1.6rem;
    padding: 11.5rem 16rem;
}

main, table {
   color: #E1E1E6;
   width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper input {
    width: 30rem;
}

td img {
    width: 5.6rem;
    border-radius: 50%;
}

td {
    text-align: center;
    border: 1px solid red;
}